@font-face {
    font-family: "BebasNeue";
    src: url(/styles/components/fonts/Bebas_Neue/BebasNeue-Regular.ttf)
}

@font-face {
    font-family: "Montserrat";
    src: url(/styles/components/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8vh auto;
    font-family: 'Montserrat', sans-serif;
    /*
    display: flex;
    flex-direction: column;
    */
    margin: 0;
}

.header {
    grid-row: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    background-color: black;
}


.header__logo {
    width: 10%;
    height: 100%;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center;
}

.header__nav--primary ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}


.header__nav--secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;       
    gap: 25px;                 
}   
    svg {
        color: white;
    }

.main-page {
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
    padding-left: 50px;
    background: 
        url('/styles/components/Pantheon2.png') center/cover no-repeat;
    width: 100%;
    min-height: 100%
}
    .hero {
        grid-row: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        gap: 15px;
        margin-top: 15px;
        padding-right: 50px;
    }

    .hero__text {
        max-width: 500px;
        color: rgba(255,255,255,0.85);
        line-height: 1;
    }

    .hero__title { 
        margin: 0;
        font-family: 'BebasNeue', sans-serif;
        font-size: clamp(4rem, 12vw, 12rem);
        width: 100%;
        color: white;  
        letter-spacing: 4px;
        line-height: 0.9;
    }

    .hero__action {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 450px;
        height: 50px;
        gap: 15px;
    }
        .hero__button {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }

    .section-carousels {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-x: hidden;
        padding: 0 0 10px 0;
        height: 100%;
    }   
        
        .carousel {
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            overflow-x: auto;
            gap: 15px;
            scroll-snap-type: x mandatory;
        }


        .film {
            flex: 0 0 auto;
            width: 300px;
            height: 180px;
            border: 1px solid white;
            border-radius: 5px;
            scroll-snap-align: start;
        }

        .carousel__titles {
            color: white;
        }

/*volver a poner section-corrouserls en el html junto con sus estilos y hacer lo que dice tu amigo */